<div layout="row" flex="100" layout-align="center center">
	<div layout="column" flex="80" layout-align="center center">
	    <h2 md-title flex="15" layout="row" layout-align="center center"> General Knowledge </h2>
	    <p> Measure your general knowledge by answering multiple choice questions over different domains. </p>
	    <div layout="row" flex="15" layout-align="center center">
	    	<md-button class="md-primary md-raised" ng-click="showGeneralKnowledgeDialog($event)"> More </md-button>
	    </div>
   	</div>
</div>