<div layout="row" flex="100" layout-align="center center">
	<div layout="column" flex="80" layout-align="center center">
    	<h2 md-title flex="15" layout="row" layout-align="center center"> Personality </h2>
    	<p>Obtain your 4-letter type formula according to Carl Jung's and Isabel Briggs Myers' typology by answering some questions. </p>
    	<div layout="row" flex="15" layout-align="center center">
	    	<md-button class="md-primary md-raised" ng-click="showPersonalityDialog($event)"> More </md-button>
	    </div>
   	</div>
</div>