<div>
	<wizard template="/profile/templates/wizard.html"> 
	    <wz-step wz-title="1">
	    	<div ng-include src="'/profile/templates/basic-info.html'"></div>
	    </wz-step>
	    <wz-step wz-title="2">
	    	<div ng-include src="'/profile/templates/personality.html'"></div>
	    </wz-step>
	    <wz-step wz-title="3">
	    	<div ng-include src="'/profile/templates/logic.html'"></div>
	    </wz-step>
	    <wz-step wz-title="4">
	        <div ng-include src="'/profile/templates/generalKnowledge.html'"></div>
	    </wz-step>
	</wizard>
</div>


