<div layout="row" flex="100">
	<div layout="column" layout-align="center center" flex="100">
		<div flex="10"></div>
		<div layout="row" layout-align="center center">
			<a ng-click = "loginWithFacebook()"><img src="https://randomeet-assets.herokuapp.com/images/facebook.png"></a>
			<!-- <img ng-show="facebookLoginDisabled" src="assets/facebookDisabled.png"> -->
		</div>
		<div layout="row" layout-align="center center">
				<md-button class="md-primary md-raised" ui-sref="login"><span>IQR Login</span></md-button>
				<md-button class="md-warn md-raised" ui-sref="registration"> IQR Register </md-button>
		</div>
	</div>
</div>