<div layout="column" flex="100" class="main-background">
	<div layout = "row" class="vspacer-1">
			<div flex="20">
			</div>
			<div flex="60">
				<div layout="row" flex="100">
					<div layout="row" hide-xs flex="25" layout-align="center end" class="vspacer-5">
						 <img layout="row" flex="60" src="https://randomeet-assets.herokuapp.com/images/james.png"/>
					</div>
					<div flex="50">
						<div layout="column" flex="100" layout-align="center center">
							<div layout="row" flex="20" layout-align="center center">
						 		<img flex="70" class="responsive-image-30-20" src="https://randomeet-assets.herokuapp.com/images/random.png"/>
						 	</div>
						 </div>
						 <div ui-view></div>
					</div>
					<div layout="row" hide-xs flex="25" layout-align="center end" class="vspacer-5">
						 <img layout="row" flex="60" src="https://randomeet-assets.herokuapp.com/images/jessy.png"/>
					</div>
				</div> 
			</div>
	</div>
	<div layout="row" flex="30" class="vspacer-35">
		<div flex="5"></div>
		<div flex="30">
			<div layout="column" layout-align="center center">
					<md-icon md-svg-icon="action:account_circle" class="responsive-image-25 navy-blue"></md-icon>
					Register
			</div>
		</div>
		<div flex="30">
			<div layout="column" layout-align="center center">
					<md-icon md-svg-icon="action:face" class="responsive-image-25 navy-blue"></md-icon>
					Build your profile
			</div>
		</div>			
		<div flex="30"> 
			<div layout="column" layout-align="center center">
					<md-icon md-svg-icon="communication:chat" class="responsive-image-25 navy-blue"></md-icon>
					Meet new people
			</div>
		</div>
	</div>
</div>